<html>
  <head>
    <title>Tag Along Bot</title>
    <style>
      html {
        background: lightpink;
      }
    </style>
  </head>
  <body>
    <script data-cfasync='false' type='text/javascript' src='//p331152.clksite.com/adServe/banners?tid=331152_645035_6&tagid=9'></script>
    <h1>Tag Along Bot</h1>
    <video id="vid" src="https://cdn.glitch.com/0456ed32-e74f-4201-86c5-a368229f8190%2FQUIK_20190114_011426.mp4?1547423127947" controls autoplay="autoplay"></video>
  </body>

  <script>
    let vid = document.getElemementById('vid');

    vid.onended = function(evt) {
      alert("Okay when you're ready to create your profile just close this webview and click Make Profile");
    }
  </script>
</html>